<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-md-8 col-xl-6 chat">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img src="assets/images/_D.jpg" class="rounded-circle user_img">
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <span>Chat com Watson Bot</span>
                <p>{{messages.length}} Mensgens</p>
              </div>
              <div class="video_cam">
                <span><i class="fas fa-video"></i></span>
                <span><i class="fas fa-phone"></i></span>
              </div>
            </div>
          </div>
          <div class="card-body msg_card_body">
            <div *ngFor="let message of messages" class="d-flex justify-content-{{message.order}} mb-4">
              <div class="img_cont_msg">
                <img src="{{message.thumb}}" class="rounded-circle user_img_msg">
              </div>
              <div class="msg_cotainer">
                {{message.msg}}
                <span class="msg_time">{{message.hour}}</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="input-group">
              <textarea class="form-control type_msg" #messageToSend [(ngModel)]="messageToSend" placeholder="Digite sua mensagem..."></textarea>
              <div class="input-group-append">
                <span class="input-group-text send_btn">
                  <button (click)="sendMessage(messageToSend.value)"  type="button" class="btn btn-outline-primary">Enviar</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
